{
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "rules": {}
}
